body {
    background-image: linear-gradient(20deg,#d8eeee,#d8eeee 25%, #8164c9 65%, #290e69 90%, #170742);
    height: 55em;
    color: white;
}
img{
    position: relative;
    height: 5em;
    width: 5em;
    margin-right: 1em;
    margin-top: .5em;
}
#welcome {
    text-align: center;
}